<%- include('../partials/header') %>

    <table id="list">
        <thead>
            <tr>
                <th>Dairy</th>
                <th>Produce</th>
                <th>Snacks</th>
            </tr>
        </thead>
        <tbody>
            <% groceries.forEach(function(g) { %>
                <tr>
                    <td>
                        <%= g.dairy %><br>
                    </td>
                    <td>
                        <%= g.produce %><br>
                    </td>
                    <td>
                        <%= g.snacks %><br>
                    </td>
                    <td>
                        <a href="/groceries/<%= g.id %>">Details</a>
                    </td>
                    <% }) %>
                </tr>
        </tbody>
    </table>
    


    <%- include('../partials/footer') %>