<%- include('../partials/header') %>

    <table id="list">
        <thead>
            <tr>
                <th>Dairy</th>
                <th>Produce</th>
                <th>Snacks</th>
                <th>Seasonings</th>
                <th>Bakery</th>
                <th>Meats</th>
            </tr>
        </thead>
        <tbody>
            <% groceries.forEach(function(g) { %>
                <tr> 
                    <td> 
                        <%= g.dairy %><br>
                    </td>
                    <td>
                        <%= g.produce %><br>
                    </td>
                    <td>
                        <%= g.snacks %><br>
                    </td>
                    <td>
                        <%= g.seasonings %><br>
                    </td>
                    <td>
                        <%= g.bakery %><br>
                    </td>
                    <td>
                        <%= g.meats %><br>
                    </td>
                    <td>
                        <a href="/groceries/<%= g.id %>">Details</a>
                    </td>
                    <% }) %>
                </tr>
        </tbody>
    </table>
    


    <%- include('../partials/footer') %>