<%- include('../partials/header') %>

    <section id="show">

        <h4>Grocery List</h4>


        <p>Dairy: <span>
                <%= grocery.dairy %>
            </span></p>
        <p>Produce: <span>
                <%= grocery.produce %>
            </span></p>
        <p>Snacks: <span>
                <%= grocery.snacks %>
            </span></p>

<form action="/groceries/<%= grocery._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Item</button>
</form>
    <form action="/groceries/<%= grocery._id %>/edit" method="GET">
    <button type="submit">Edit Item (WORK IN PROGRESS)</button>
</form>
</section>
    <%- include('../partials/footer') %>