<%- include('../partials/header') %>

<section id="show">
    
    <h4>Grocery List</h4>


    <p>Dairy: <span><%= grocery.dairy %></span></p>
    <p>Produce: <span><%= grocery.produce %></span></p>
    <p>Snacks: <span><%= grocery.snacks %></span></p>

</section>

<section>
    <h4>Add more items to your list</h4>

</section>


<%- include('../partials/footer') %>